# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env/
.venv/

# Environment variables
.env

# Logs
*.log

# Database
*.db
*.sqlite3

# Alembic
alembic/versions/*.pyc

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/

# mypy
.mypy_cache/